@font-face {
	font-family: 'Inter Demi';
	src: url(assets/Inter-SemiBold-slnt=0.ttf);
}
@font-face {
	font-family: 'Inter Bold';
	src: url(assets/Inter-Bold-slnt=0.ttf);
}
@font-face {
	font-family: 'Inter Black';
	src: url(assets/Inter-Black-slnt=0.ttf);
}
@font-face {
	font-family: 'Inter Light';
	src: url(assets/Inter-Light-slnt=0.ttf);
}
@font-face {
	font-family: 'Inter Regular';
	src: url(assets/Inter-Regular-slnt=0.ttf);
}

body {
    margin: 0;
    background-color: black;
}

#head {
    width: 90%;
    margin: 40px auto 0px;
}

#name {
    font-family: "Inter Bold";
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 0px;
}

#navigation {
    display: inline-block;
    float: right;
    font-size: 15px;
}
#navigation a:hover {
	opacity: 1;
}

#hi {
	text-decoration: none;
	color: #FFF;
	opacity: 1;
	margin-right: 0px!important;
	font-family: "Inter Regular";
	transition: all .3s cubic-bezier(.05,.03,.35,1);
	position: relative;
	display: inline-block;
}

#links a {
	font-family: "Inter Regular";
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	margin-right: 60px;
	opacity: .5;
	transition: all .3s cubic-bezier(.05,.03,.35,1);
}

#line {
    width: 100%;
    background-color: rgba(255,255,255,.3);
    height: 1px;
    margin-top: 10px;
    position: relative;
}

#highlight {
    right: 0;
	height: 4px;
	position: absolute;
	background: linear-gradient(90.68deg, #39dfc9 0.26%, #4533e5 102.37%);
	width: 180px;
	margin-top: -1px;
}

#top {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 100px;
}

h1 {
	color: #FFF;
	font-family: "Inter Light";
	font-weight: 100;
	font-size: 22px;
	width: 800px;
	line-height: 40px;
	margin-top: 10px;
}
h1 span, h1 a {
	font-family: "Inter Demi";
}
h1 a {
	text-decoration: none;
	color: #FFF;
	position: relative;
	display: inline-block;
	transition: all .3s cubic-bezier(.05,.03,.35,1);
}
h1 a:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	background-color: #FFF;
	display: block;
	opacity: .3;
	transition: all .3s cubic-bezier(.05,.03,.35,1);
}
h1 a:hover {
	color: rgba(255,255,255,.5);
}
h1 a:hover:after {
	margin-top: 5px;
}
h2 {
	color: rgba(255,255,255,.8);
	font-weight: 100;
	font-family: "Inter Light";
	font-size: 15px;
	width: 900px;
	line-height: 35px;
	margin-top: 30px;
	margin-bottom: 0px;
}
h2 span {
	font-family: "Inter Demi";
	color: rgba(255,255,255,1);
}

#section {
    width: 90%;
    margin: 100px auto 0px;
	text-align: center;
}

#section p{
    font-family: "Inter Regular";
    color: #FFF;
    font-size: 12px;
}

#section img{
    opacity: 50%;
}

hr {
	border: 0px;
	outline: 0px;
	height: 1px;
	background-color: rgba(255,255,255,.3);
	margin-top: 15px;
	margin-bottom: 40px;
}